.content-container{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.content-container::-webkit-scrollbar{
    display: none;
}
.configure{
    display: flex;
    justify-content: center;
}