.group-component{
    display: flex;
    align-items: center;
    z-index: 3;
    position: absolute;
    width: 100%;
    padding: 60px 0px 0px 0px;
    background-color: white;
    transition-duration: 200ms;
    top: 0;
    left: 100%;
    overflow: hidden;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}
.is-opened-group{
    animation: slide-in 200ms ease-in-out;
    left: 0;
    transform: scale(1);
}

@keyframes slide-in{
    0%{
        left: 100%;
        top: 0;
    }
    100%{
        left: 0;
        top: 0;
    }
}


.close-button{
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    margin: 7px;
    height: 45px;
    width: 45px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    pointer-events: none;
    transform: scale(0);
    transition-duration: 200ms;
    cursor: pointer;
}
.close-button__image{
    height: 30px;
    width: 30px;
}
.is-opened-button{
    pointer-events: all;
    transform: scale(1);
}
.group-headline{
    font-size: x-large;
    margin: 0px;
}
.group-image{
    height: 70px !important;
    width: 70px;
    border-radius: 180px;
    border: 1px solid black;
    margin: 32px 0px 0px 0px;
}
.group-creator{
    margin: 0;
    margin-bottom: 32px;
    font-size: 10px;
}
.information-section{
    margin-bottom: 32px;
}