.list-element{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.list-element__dates:hover{
    text-decoration: underline;
}
.list-element__dates:active{
    transform: scale(.98);
}
.list-element__content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
}
.list-element p {
    margin: 0;
    width: fit-content;
}
.list-element__button--member{
    height: 15px;
    width: 25px;
    border: 0;
    margin: auto;
    margin-right: 15px;   
    background-color: transparent;
}
.list-element__button--task{
    height: 25px;
    width: 25px;
    border: 0;
    margin: auto;
    margin-right: 15px;   
    background-color: transparent;
    border-radius: 180px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    cursor: pointer;
}
.list-element__image{
    height: 15px;
    width: 15px;
    pointer-events: none;
    transform: rotate(180deg);
    margin: 17.5px;
}
.done-task{
    background-color: rgb(188, 238, 188);
    transform: scale(.9)
}
hr{
    margin: 0 auto;
    width: 90%;
}
.list-element__button--image{
    height: 15px;
    width: 15px;
    pointer-events: none;
}

.list-element__content-date{
    font-size: 16px !important;
}
.list-element__content-time{
    font-size: 10px !important;
}
.list-element__content-task{
    font-size: 16px !important;
}
.list-element__button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}