.configuration{
    width: 100%;
}
.configuration-form input {
    border: .5px solid black;
    height: 30px;
    border-radius: 5px;
    outline: none;
    width: 240px;
    text-align: center;
}
.icon-selection{
    width: 240px;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    margin: auto;
}
.icon{
    height: 70px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-duration: 50ms;
}
.icon-image{
    width: 40px;
    height: 40px;
    pointer-events: none;
    margin-bottom: 4px;
}
.form-button{
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    cursor: pointer;
    transition-duration: 50ms;
}
.form-button:active{
    transform: scale(0.98);
}
.active-icon{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(241, 245, 248);
    transform: scale(1.05);
}
.icon-headline{
    font-weight: bold;
}
.groupname-input{
    transition-duration: 50ms;
}
.groupname-input::placeholder{
    color: black;
}
.groupname-input:focus{
    background-color: rgb(241, 245, 248);
}