.router{
    position: relative;
    width: 100%;
    height: 100vh;
}
.topbar{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgb(149, 177, 206);
    top: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
.controlbar{
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: rgb(149, 177, 206);
    width: calc(100% - 32px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px 0px 16px;

}
.controlbar--inner{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    position: absolute;
    height: calc(100vh - 120px);
    width: 100%;
    padding: 60px 0px 60px 0px;
    font-weight: bold;
    font-size: xx-large;
}
.button{
    height: 40px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.central-button--helper{
    width: 60px;
    height: 60px;
    display: flex;
}
.button-image{
    height: 30px;
    width: 40px;
    pointer-events: none;
}