.group-item{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.group-item:active{
    transform: scale(.991);
}
.group-item:hover{
    text-decoration: underline;
}
.group-item__image{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 180px;
    border: 1px solid black;
    pointer-events: none;
}
.group-item__info{
    display: flex;
    height: 40px;
    flex-direction: column;
    pointer-events: none;
}
.group-item__heading{
    margin: 0;
    pointer-events: none;
}
.group-item__creator{
    margin: 0;
    font-size: 12px;
    width: fit-content;
    pointer-events: none;
}
.hr{
    margin: 0;
    width: 95%;
    margin: 0 auto;
    pointer-events: none;
}