.configure-button{
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 30px;
    border-radius: 180px;
    border: 0;
    background-color: rgb(37, 98, 139);
    font-size: larger;
    transition-duration: 500ms;
    color: white;
    font-size:xx-large;
    font-weight: 100;
    transform: rotate(0deg) scale(1);
    cursor: pointer;
}
.active-button{
    transform: rotate(45deg) scale(1.1);
    background-color: rgb(252, 93, 93);
}
.disabled-button{
    pointer-events: none;
    background-color: rgb(63, 63, 63);
}
.configure{
    position: fixed;
    width: 360px;
    height: 360px;
    background-color: white;
    z-index: 2;
    background-color: white;
    bottom: 120px;
    transition-duration: 500ms;
    transform: scale(0);
    box-shadow: 0px 2px 10px 4px rgba(41,41,41,0.44);
    -webkit-box-shadow: 0px 2px 10px 4px rgba(41,41,41,0.44);
    -moz-box-shadow: 0px 2px 10px 4px rgba(41,41,41,0.44);
    border-radius: 5px;
}
.active-container{
    display: flex;
    transform: scale(1);
}
.config-position-helper{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}