.information-container{
    width: 280px;
    overflow-y: hidden;
    border-radius: 5px;
     box-shadow: 0px 0px 10px 0px rgb(41 41 41 / 44%);
    -webkit-box-shadow: -10px -1px -10px 0px rgb(41 41 41);
    -moz-box-shadow: 0px 0px 10px 0px rgba(41,41,41,0.44); 
    margin-top: 32px; 
    height: 140px;
    transition-duration: 200ms;
}
.information-container p {
    font-size: small;
}
.information-container__headline{
    height: 40px;
    width: 100%;
    background-color: rgb(199, 221, 235);
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
}
.information-container__headline h1{
    margin: 0;
}
.information-container__content{
    width: 100%;
    height: 100px;
    transition-duration: 200ms;
}
.information-container--location{
    height: 209px !important;
}
.opened-container{
    height: fit-content;
}
.dropdown-button{
    height: 20px;
    width: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}
.dropdown-image{
    height: 20px;
    width: 20px;
    pointer-events: none;
    transform: rotate(270deg);
    transition-duration: 200ms;
}
.arrow-up{
    transform: rotate(270deg) rotateY(180deg);
}