.date-component{
    display: flex;
    align-items: center;
    z-index: 5;
    position: absolute;
    width: 100%;
    background-color: white;
    transition-duration: 200ms;
    top: 0;
    left: 100%;
    overflow: hidden;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh);
    margin-top: 60px;
    overflow: hidden;
}
.is-opened-date{
    animation: slide-in 200ms ease-in-out;
    left: 0;
    transform: scale(1);
}

@keyframes slide-in{
    0%{
        left: 100%;
        top: 0;
    }
    100%{
        left: 0;
        top: 0;
    }
}


.close-button-date{
    position: absolute;
    z-index: 10;
    top: 65px;
    right: 0px;
    margin: 7px;
    height: 45px;
    width: 45px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    pointer-events: none;
    transform: scale(0);
    transition-duration: 200ms;
    cursor: pointer;
}

.close-button__image-date{
    height: 15px;
    width: 15px;
}
.is-opened-button-date{
    pointer-events: all;
    transform: scale(1);
}
.date-headline{
    font-size: x-large;
    margin: 0px;
    margin-top: 32px;
}
.date-participation-question{
    margin: 0px;
    margin-top: 32px;
}
.date-creator{
    margin: 0;
    font-size: 10px;
}
.date-date{
    margin: 0px;
    font-size: 10px;
}
.information-section{
    margin-bottom: 32px;
}
.survey-container{
    height: 32px;
    width: 96px;
    border-radius: 90px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin-top: 16px;
}
.survey-container button {
    border: 0;
    width: 50%;
    background: none;
    height: 100%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.survey-button-yes{
    background-color: rgb(149, 177, 206) !important;
}
.survey-button-no{
    background-color: rgb(245, 245, 245) !important;
}
.close-image{
    height: 100%;
    width: 100%;
}

